gallery-frontend/node_modules
gallery-frontend/config.ts
gallery-frontend/dist
gallery-backend/target
gallery-backend/upload
gallery-backend/test
gallery-backend/db
gallery-backend/object
node_modules
gallery-backend/config.json
gallery-backend/Rocket.toml
.env
temp.env
.vscode/
*.log
