gallery-frontend/node_modules
gallery-frontend/config.ts
gallery-frontend/dist
gallery-backend/target
gallery-backend/upload
gallery-backend/test
gallery-backend/compressed
gallery-backend/imported
gallery-backend/thumb
gallery-backend/photo
gallery-backend/db
gallery-backend/temp
gallery-backend/object
node_modules
gallery-backend/config.json
gallery-backend/Rocket.toml
.env
.vscode/

ffmpeg.exe
ffmpeg.zip
rustup-init.exe